.body{
  background-color: black;
}
.navbar-header{
    height: 10%;
}
.section_1 {
    margin: 0;
    height: 100vh;
    font-weight: 100;
    
    background: radial-gradient(#e27535,#1f1013);
    -webkit-overflow-Y: hidden;
    -moz-overflow-Y: hidden;
    -o-overflow-Y: hidden;
    overflow-y: hidden;
    -webkit-animation: fadeIn 1 3s ease-out;
    -moz-animation: fadeIn 1 3s ease-out;
    -o-animation: fadeIn 1 3s ease-out;
    animation: fadeIn 1 3s ease-out;
    
}

button{
  position:relative;
  border: 5px solid rgb(6, 6, 6);
  background: transparent;
  font-family: 'Roboto', sans-serif;
  color: rgb(6, 5, 5);
  width:20%;
  height: 8%;
  font-size:30px;
  border-radius: 5px;
  opacity: .6;
  top:68%;
  
  left: 40%;
  
  margin-right: 15%;
  transition: .3s;
}

button:hover{
  border: 2px solid #ccc6c6;
  background-color: rgba(365,365,365,0.5);
  cursor: pointer;
  color: #070707;
  opacity: .8;
  transition: .3s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: rgb(249, 175, 101);
    box-shadow: #dae1e1 0px 0px 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.x1{
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;
   -webkit-transform: scale(1.0);
   -moz-transform: scale(1.0);
   -o-transform: scale(1.0);
  transform: scale(1.0);
}

.x2{
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  left: 15%;
}

.x3{
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
  left: -15%;
}

.x4{
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  left: -34%;
}

.x5{
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  left: -57%;
}

.x6{
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  left: -81%;
}

.x7{
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
  transform: scale(3.2);
  left: 37%;
}

.x8{
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  left: 62%;
}

.x9{
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 85%;
}

button:focus{
  outline: none;
}

@-webkit-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-moz-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-o-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}

.header{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 2em;
}

#head1, #head2,#head3, #head4, #head5{
  opacity: 0;
}

#head1{
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
}

#head2{
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}

#head3{
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
}

#head4{
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 17s;
  -moz-animation-delay: 17s;
  -o-animation-delay: 17s;
  animation-delay: 17s;
}

#head5{
  -webkit-animation: finalFade 1 5s ease-in;
  -moz-animation: finalFade 1 5s ease-in;
  -o-animation: finalFade 1 5s ease-in;
  animation: finalFade 1 5s ease-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 22s;
  -moz-animation-delay: 22s;
  -o-animation-delay: 22s;
  animation-delay: 22s;
}

@-webkit-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@-moz-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@-o-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

@-webkit-keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
}

@-moz-keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
}

@-o-keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
}

@keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
}

@-webkit-keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
}

@-moz-keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
}

@-o-keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
}

@keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
}

#footer{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: white;
  position: fixed;
  -webkit-transform: translate(95vw,90vh);
  -moz-transform: translate(95vw,90vh);
  transform: translate(95vw,90vh);
  transform: translate(95vw,90vh);
}

.section_2{
    height:745px;
    width: 100%;
    background-color: #070707;
    color: #e27535;
}

.section_2 .head{
    position:absolute;
    top: 140%;
    
    -webkit-transform:rotate(270deg);
}
@media screen and (min-width: 601px) {
  div.head {
    font-size:80px;
  }
}

@media screen and (max-width: 600px) {
  div.head {
    font-size:40px;
    
  }
}



.glass{
  width:50%;
  height:500px;
  box-shadow: 0 0 1rem 0 rgb(246, 248, 247); 
  border-radius: 5px;
  background-color: rgba(121, 119, 119, 0.15);
  backdrop-filter: blur(10px);
  position:absolute;
  left:40%;
  top:120%;
 
  
  padding-top:35px;
  font-size: 25px;
  padding-left:10px;
  padding-right: 10px;
  z-index: 0;
}

@media screen and (min-width: 601px) {
  div.glass {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  div.glass {
    font-size: 17px;
  }
}

.section_3{
  margin: 0;
    height: 100vh;
    font-weight: 100;
    
    background: radial-gradient(#e27535,#1f1013);
    
    
}

.section_3 .head2{
    position:absolute;
    top: 250%;
    color: black;
    
    -webkit-transform:rotate(270deg);
}
@media screen and (min-width: 601px) {
  div.head2 {
    font-size:80px;
    
  }
}

@media screen and (max-width: 600px) {
  div.head2 {
    font-size:40px;
  
  }
}

.card1 {
 
  background:transparent;
  width:35%;
  height:35%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position:absolute;
  top:215%;
  left:20%;
  transition: 0.3s;
  border-radius:10px;
  font-size: 10px;
  text-align: center;
  
}


.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(59, 58, 58, 0.9);
  transition: all .2s ease-in-out;
  transform: scale(1.2);

}

.card2 {
 
  background:transparent;
  width:35%;
  height:35%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position:absolute;
  top:215%;
  left:60%;
  transition: 0.3s;
  border-radius:10px;
  font-size: 10px;
  text-align: center;
  
}


.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(59, 58, 58, 0.9);
  transition: all .2s ease-in-out;
  transform: scale(1.2);

}

.card3 {
 
  background:transparent;
  width: 60%;
  height:35%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position:absolute;
  top:255%;
  left:27%;
  transition: 0.3s;
  border-radius:10px;
  font-size: 10px;
  text-align: center;
  
}


.card3:hover {
  box-shadow: 0 8px 16px 0 rgba(59, 58, 58, 0.9);
  transition: all .2s ease-in-out;
  transform: scale(1.2);

}







.section_4{
    height:1400px;
    width: 100%;
    background-color: #070707;
    color: #e27535;
}

.head3{
  font-size: 70px;
  position: relative;
  top:7%;
  right:5%;
  text-align: right;
  background: -webkit-linear-gradient(#333,#e27535);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 600px) {
  div.head3 {
    font-size:45px;
  
  }
}

.card4 {
 
  background:transparent;
  width:40%;
  height:42%;
  position:absolute;
  top:340%;
  left:10%;
  border-radius:5px;
  border-color: #e27535;
  border: solid;
  font-size: 10px;
  text-align: center;
  
}

.card5 {
 
  background:transparent;
  width:40%;
  height:39%;
  position:absolute;
  top:390%;
  left:50%;
  border-radius:5px;
  border-color: #e27535;
  border: solid;
  font-size: 10px;
  text-align: center;
  
}

.card6 {
 
  background:transparent;
  width:40%;
  height:42%;
  position:absolute;
  top:435%;
  left:10%;
  border-radius:5px;
  border-color: #e27535;
  border: solid;
  font-size: 10px;
  text-align: center;
  
}

.section_5{
  margin: 0;
    height: 100vh;
    font-weight: 100;
    
    background: radial-gradient(#e27535,#1f1013);
    
    
}

.text4 {
            text-orientation: upright;
            writing-mode: vertical-rl;
          
         }

.text5{
  position:absolute;
  left:40%;
  top:500%;
  color: black;
  
}
@media screen and (min-width: 601px) {
  div.head2 {
    font-size:80px;
    
  }
}

@media screen and (max-width: 600px) {
  div.text5 {
    position: absolute;
    top:530%;
    color: black;
   font-size: 15px;
  
  }
}

.section_6{
    height:745px;
    width: 100%;
    background-color: #070707;
    color: #e27535;
}
.text7{
  font-size: 80px;
  text-align: center;
  position: relative;
  top:10%;
}

.card {
    box-shadow: 0 4px 8px 0 #e27535;
    max-width: 24%;
    margin: auto;
    text-align: center;
    font-family: arial;
    position: relative;
    top:13%;

    
    
  }

  